@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    --bg-black: #000;
    --bg-white: #fff;
    --bg-blue: #102347;
    --bg-gray: #181818;
    --bg-bluegray: #283142;
    --bg-purple: #676FFF;
    --bg-coral: #FF6B72;

}

body, html {
    background-color: var(--bg-black);
    color: var(--bg-white);
    min-width: 235px;
    width: 100%;
}

a, a:hover, a:visited{
    color: unset;
    text-decoration: none;
}

.dsmeta-logo-container {
    background: linear-gradient(180deg, var(--bg-blue) 0%, var(--bg-gray) 100%);
    height: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

nav img {
    width: 235px;
    margin-top: 28px;
}

nav h1 {
    font-size: 24px;
    margin-top: 14px;
}

nav p {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 28px;
}

.dsmeta-sales-container {
    margin: 40px 10px;
    padding: 30px 10px;
    background-color: var(--bg-bluegray);
    border-radius: 10px;
    display: flex;
    
}

.itens-container {
    max-width: 990px;
    width: 100%;
    margin: 0 auto;
    padding: 0px 10px;    
}

.dsmeta-sales-itens {
    display: flex;
}

.dsmeta-sales-itens h1 {
    padding-right: 5px;
    color: var(--bg-purple);
    font-size: 24px;
    font-weight: 700;
}

.user-card {
    width: 45px;
    height: 45px;
    background: rgba(255, 107, 114, 0.1);
    border: 1px solid #FF6B72;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 576px) {
   
    .dsmeta-sales-container {
        padding: 30px 35px;
    }
}

@media (min-width: 992px) {
    
    .dsmeta-sales-container {
        padding: 30px 35px;
    }
}