.dsmeta-red-btn {
    width: 45px;
    height: 45px;
    background: rgba(255, 107, 114, 0.1);
    border: 1px solid #ff6b72;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .dsmeta-red-btn img{
      width: 19px;
  }
  
  .dsmeta-red-btn:hover {
    background: rgba(255, 107, 114, 0.4);
  }

  .dsmeta-red-btn:active {
    border: 1px solid #fff;
    box-shadow: 1px 1px -1px #fff;
    background: linear-gradient(to top, var(--bg-purple), var(--dpb-grayblue));
  }